#s-2e673adc-f7e8-4f44-8818-52911569c34c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #C8E6C9;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 > .paddingLayer {
  height: 44px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_1 {
  position: absolute;
  width: 26px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_1 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_1 > svg {
  height: 16px;
  width: 26px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Hotspot_1 {
  position: absolute;
  width: 35px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Hotspot_1 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Hotspot_1 > svg {
  height: 27px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_2 {
  position: absolute;
  width: 256px;
  height: 256px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_2 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_2 > svg {
  height: 256px;
  width: 256px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_2 {
  position: absolute;
  width: 277px;
  height: 270px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_3 {
  position: absolute;
  width: 267px;
  height: 171px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_3 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_3 > svg {
  height: 171px;
  width: 267px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 {
  position: absolute;
  width: 130px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_4 {
  position: absolute;
  width: 104px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_4 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_4 > svg {
  height: 37px;
  width: 104px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_6 {
  position: absolute;
  width: 104px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_6 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_6 > svg {
  height: 37px;
  width: 104px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_3 {
  position: absolute;
  width: 326px;
  height: 196px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 span {
  color: #FFD54F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFD54F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_7 {
  position: absolute;
  width: 141px;
  height: 141px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_7 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_7 > svg {
  height: 141px;
  width: 141px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 span#rtr-s-Text_5_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_5 span#rtr-s-Text_5_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 {
  position: absolute;
  width: 174px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #FFD54F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 {
  position: absolute;
  width: 239px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_4 {
  position: absolute;
  width: 359px;
  height: 641px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_5 {
  position: absolute;
  width: 308px;
  height: 641px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_6 {
  position: absolute;
  width: 308px;
  height: 641px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_7 {
  position: absolute;
  width: 308px;
  height: 641px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Group_8 {
  position: absolute;
  width: 308px;
  height: 641px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #506A74;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec {
  position: absolute;
  width: 308px;
  height: 169px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec > .paddingLayer {
  height: 169px;
  width: 308px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-side_top_rec span#rtr-s-side_top_rec_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6FDFD;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 {
  position: absolute;
  width: 308px;
  height: 473px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 > .paddingLayer {
  height: 473px;
  width: 308px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_8 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_8 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_8 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_9 {
  position: absolute;
  width: 39px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_9 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_9 > svg {
  height: 31px;
  width: 39px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_11 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_11 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_11 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_12 {
  position: absolute;
  width: 34px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_12 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_12 > svg {
  height: 32px;
  width: 34px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_13 {
  position: absolute;
  width: 40px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_13 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_13 > svg {
  height: 37px;
  width: 40px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_14 {
  position: absolute;
  width: 32px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_14 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_14 > svg {
  height: 35px;
  width: 32px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: rgba(217,217,217,0.35);
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight {
  position: absolute;
  width: 308px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight > .paddingLayer {
  height: 45px;
  width: 308px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-spiro_highlight span#rtr-s-spiro_highlight_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: rgba(217,217,217,0.0);
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight {
  position: absolute;
  width: 308px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight > .paddingLayer {
  height: 45px;
  width: 308px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_highlight span#rtr-s-inhaler_highlight_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_15 {
  position: absolute;
  width: 102px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_15 > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Image_15 > svg {
  height: 102px;
  width: 102px;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: rgba(0,0,0,0.3);
  background-image: none;
  box-shadow: none;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 {
  position: absolute;
  width: 52px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 > .clipping, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 > .paddingLayer {
  height: 640px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_button_area {
  position: absolute;
  width: 165px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_button_area > img, #s-2e673adc-f7e8-4f44-8818-52911569c34c #s-inhaler_button_area > svg {
  height: 37px;
  width: 165px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2e673adc-f7e8-4f44-8818-52911569c34c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}