#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #C8E6C9;
  background-image: none;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 > .paddingLayer {
  height: 44px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_1 {
  position: absolute;
  width: 26px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_1 > img, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_1 > svg {
  height: 16px;
  width: 26px;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: rgba(0,0,0,0.3);
  background-image: none;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive {
  position: absolute;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive > .paddingLayer {
  height: 640px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive span#rtr-s-overlay_inactive_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_2 {
  position: absolute;
  width: 256px;
  height: 256px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_2 > img, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_2 > svg {
  height: 256px;
  width: 256px;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox {
  position: absolute;
  width: 289px;
  height: 171px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox > .paddingLayer {
  height: 169px;
  width: 287px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox span#rtr-s-rounded_textbox_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-text_dialogs {
  position: absolute;
  width: 215px;
  height: 77px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button {
  position: absolute;
  width: 109px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button > .clipping, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button > .paddingLayer {
  height: 35px;
  width: 107px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button span#rtr-s-ok_button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Hotspot_1 {
  position: absolute;
  width: 109px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Hotspot_1 > img, #s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Hotspot_1 > svg {
  height: 37px;
  width: 109px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}