#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-overlay_inactive {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-rounded_textbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 #s-ok_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-56b3da22-5a17-4e53-bcc4-004b23cbabf2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}